// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #47bbb3;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-last-deploy styles
// ----------------------------------------------------------------------------
.widget-last-deploy {

  background-color: $background-color;

  .title {
    color: $title-color;
    position: absolute;
    font-size: 16px;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    border-radius: 20px;
    border-bottom: 1px solid rgb(9, 140, 130); 
  }

  .value {
    font-size: 40px;
    text-transform: lowercase;
  }

  .last-deploy-word{
    position: absolute;
    top: 9px;
    /* margin: auto; */
    left: 5px;
    color: rgb(38, 132, 111);
    font-size: 18px;
    opacity: 0.5;
    font-weight: bold;
  }

  .change-rate {
    font-weight: 500;
    font-size: 30px;
    color: $value-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

}