// 0 - paused
// 1 - not checked yet
// 2 - up
// 8 - seems down
// 9 - down

.widget-uptimerobot {
  background: #5133AB;

  .panel {
    width: 100%;
  }

  .monitor {
    // padding: 5px;
    position: relative;
    // height: 10px;
    width: 100%;
  }

  .name {
    text-align: left;
    font-size: 80%;
  }

  .circle {
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    width: 8px;
    height: 8px;
  }

  .led-0 {
    background-color: #A90;
  }

  .led-1 {
    background-color: #4AB;
  }

  .led-2 {
    background-color: #AF0;
  }

  .led-8 {
    background-color: #940;
  }

  .led-9 {
    background-color: #940;
  }
}
