// ----------------------------------------------------------------------------
// Widget-rollbar styles
// ----------------------------------------------------------------------------
.widget-rollbar {

  background-color: #2B3756;
  padding: 0px 12px!important;

  input.rollbar {
    background-color: rgba(202, 9, 17, 0.7);
    color: #fff;
  }

  .title {
    color: rgb(198, 213, 228);
    border-bottom: 1px dashed;
    font-size: 100%;
    padding-bottom: 2px;
  }

  .change-rate {
    // font-weight: 300;
    font-size: 90%;
  }

  .current_label{
    font-size: 90%;
    color: rgb(247, 222, 222);
  }

  .errors_current{
    font-size: 100%;
    font-weight: bold;
    color: red;
  }

  .errors_distinct_current{
    font-size: 100%;
    font-weight: bold;
    color: #FFA63C;
  }

  .icon-arrow-up{
    color: rgb(236, 6, 41);
    margin-right: 5px;
  }

  .icon-arrow-down{
    color: green;
    margin-right: 5px;
  }

  .rollbar_all{
    color: rgb(247, 222, 222);
  }

  .errors_last{
    color: rgb(205, 13, 35);
    font-weight: bold;
    font-size: 100%;
  }

  .errors_distinct_last{
    color: rgb(150, 153, 19);
    font-weight: bold;
    font-size: 100%;
  }
}
