$color-teal-dark: #008299;
$color-teal-light: #00A0B1;
$color-blue-dark: #2672EC;
$color-blue-light: #2E8DEF;
$color-purple-dark: #8C0095;
$color-purple-light: #A700AE;
$color-red-dark: #AC193D;
$color-red-light: #BF1E4B;
$color-orange-dark: #D24726;
$color-orange-light: #DC572E;
$color-green-dark: #008A00;
$color-green-light: #00A600;
$color-skyblue-dark: #094AB2;
$color-skyblue-light: #0A5BC4;
