<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="uptimerobot" data-view="Uptimerobot"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="datadog_atlas_cpu" data-view="Iframe"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="2" data-sizey="1">
      <div data-id="datadog_rds" data-view="Iframe"></div>
    </li>
    <li data-row="1" data-col="6" data-sizex="2" data-sizey="1">
      <div data-id="datadog_atlas_memory" data-view="Iframe"></div>
    </li>
    <li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="leitor10_rds_connections" data-view="List"></div>
    </li>

    <!-- Atlas -->
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="atlas_codeclimate" data-view="Codeclimate" data-title="Atlas Code Climate GPA"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-fortesinformatica-atlas-master" data-view="CircleCi" data-title="Circle CI(Atlas)"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-view="Meter" data-title='Atlas Coverage' data-id="atlas_coverage" data-min="0" data-max="100"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-view="LastDeploy" data-id="atlas_last_deploy"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="atlas_rollbar_errors" data-view="Rollbar" data-title="Rollbar (Atlas)"></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="2" data-sizey="1">
      <div data-id="atlas_rollbar" data-view="Rollbar24" data-title="Rollbar 24hs (Atlas)"></div>
    </li>
    <li data-row="3" data-col="8" data-sizex="1" data-sizey="2">
      <div data-id="elore_users_count" data-view="List"></div>
    </li>

    <!-- Leitor 10 -->
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="leitor10_codeclimate" data-view="Codeclimate" data-title="Leitor10 Code Climate GPA"></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-fortesinformatica-bookmaker-master" data-view="CircleCi" data-title="Circle CI(Leitor10)"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-view="Meter" data-title='Leitor10 Coverage' data-id="leitor10_coverage" data-min="0" data-max="100"></div>
    </li>
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-view="LastDeploy" data-id="leitor10_last_deploy"></div>
    </li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="leitor10_rollbar_errors" data-view="Rollbar" data-title="Rollbar (Leitor 10)"></div>
    </li>
    <li data-row="3" data-col="6" data-sizex="2" data-sizey="1">
      <div data-id="leitor10_rollbar" data-view="Rollbar24" data-title="Rollbar 24hs (Leitor 10)"></div>
    </li>
    <li data-row="3" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="leitor10_host_count" data-view="List"></div>
    </li>

    <!-- Eva -->
    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="eva_codeclimate" data-view="Codeclimate" data-title="Eva Code Climate GPA"></div>
    </li>
    <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-fortesinformatica-eva-master" data-view="CircleCi" data-title="Circle CI(EVA)"></div>
    </li>
    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-view="Meter" data-title='EVA Coverage' data-id="eva_coverage" data-min="0" data-max="100"></div>
    </li>
    <li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
      <div data-view="LastDeploy" data-id="eva_last_deploy"></div>
    </li>
    <li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="eva_rollbar_errors" data-view="Rollbar" data-title="Rollbar (EVA)"></div>
    </li>
    <li data-row="4" data-col="6" data-sizex="2" data-sizey="1">
      <div data-id="eva_rollbar" data-view="Rollbar24" data-title="Rollbar 24hs (EVA)"></div>
    </li>
  </ul>
</div>
