// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #FFFFFF;

$title-color:       rgba(0, 0, 0, 1);
$moreinfo-color:    rgba(1, 1, 1, 1);
$tick-color:        rgba(0, 0, 0, 1);


// ----------------------------------------------------------------------------
// Widget-graph styles
// ----------------------------------------------------------------------------
.widget-graph {

  background-color: $background-color;
  position: relative;


  svg {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 80%;
    width: 90%;
  }

  .title, .value {
    position: relative;
    z-index: 99;
  }

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
  }

  .major {
    margin-left: 10px;
  }

  .x_tick {
    position: absolute;
    bottom: 0;
    margin-left: 10px;

    .title {
      font-size: 10px;
      color: $tick-color;
      opacity: 1;
      margin-bottom: 3px;
    }
  }

  .y_ticks {
    position: absolute;
    font-size: 20px;
    fill: $tick-color;
    fill-opacity: 1;
  }

  .domain {
    display: none;
  }

}
